.carrot{
    position: relative;
    padding-bottom: 50px;
}

.tomato{
    padding-bottom: 50px;
}

.beans{
    padding-bottom: 50px;
}

.cauliflower{
    padding-bottom: 50px;
}

.button{
    position: relative;
    left:40%;
    top: 20px;
}

.img1{
    height: px;
}

/* .carrot{
    width: max-content;
    height: max-content;
    
    
}

.tomato{
    width: max-content;
    height: max-content;
    position: relative;
    left:90px;
    
}

.beans{
    width: max-content;
    height: max-content;
    position: relative;
    left: 200px;
}

.cauliflower{
    width: max-content;
    height: max-content;
    position: relative;
    left: 300px;
}

.brocolli{
    width: max-content;
    height: max-content;
}

.carrot:hover{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tomato:hover{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.beans:hover{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 100px;
    padding-top: 20px;  
    padding-left: 20px;
    padding-right: 20px;
}

.cauliflower:hover{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 100px;
    padding-top: 20px;  
    padding-left: 20px;
    padding-right: 20px;
}

/*  */
.cn{
    color: black;
    text-align:center;
    background-color: white;
    border:1px solid white;
    border-radius: 50px;
    font-family:fantasy;
}



.bck{
    background-color:black;
}







.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  
  
  
.text{
    position: relative;
    top: 10px;
}

                
  

  
  
  